:root {
  --left-side-width: 50%;
  --left-side-title-opacity: 1;
  --left-side-content-opacity: 1;
  --right-side-title-opacity: 1;
}

section.slider {
  padding: 0;
  width: 100vw;
  margin: 0;
  position: relative;
  background: rgb(252, 176, 69);
  background: linear-gradient(
    108deg,
    #0f2027 0%,
    #203a43 10%,
    #2c5364 25%,
    #136a8a 75%,
    #267871 100%
  );
  background-size: 300%;
  background-position: var(--left-side-width) 0%;
}

.side {
  color: white;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

.side .side-content {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

#left-side {
  /* background-color: #4158d0;
  background-image: linear-gradient(
    320deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  ); */
  z-index: 2;
  width: var(--left-side-width);
  transition: background-color 0.2s;
}

#left-side .side-title {
  transition: opacity 0.2s;
  opacity: var(--left-side-title-opacity);
}

#left-side .side-content {
  transition: opacity 0.2s;
  opacity: var(--left-side-content-opacity);
}

span.slider-grabber {
  position: absolute;
  top: 50%;
  left: var(--left-side-width);
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  cursor: ew-resize;
  z-index: 10;
  transform: translateX(-50%);
  box-shadow: 8px 8px 24px 0px rgb(66 68 90),
    inset 2px 4px 10px 3px rgb(66 68 90);
}

.slider-container {
  user-select: none;
  height: 100%;
}

#right-side {
  /* background-color: #151515;
  background-image: linear-gradient(
    45deg,
    #151515 0%,
    #002167 50%,
    #2b86c5 100%
  ); */

  color: white;
  font: 1.3rem Inconsolata, monospace;
}
