:root {
  --left-side-width: 50%;
  --left-side-title-opacity: 1;
  --left-side-content-opacity: 1;
  --right-side-title-opacity: 1;
}

main {
  padding: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  position: relative;
  background: rgb(252, 176, 69);
  background: linear-gradient(
    90deg,
    #0f2027 0%,
    #203a43 10%,
    #2c5364 25%,
    #136a8a 50%,
    #0be1bd 100%
  );
  background-size: 700%;
  background-position: var(--left-side-width) 0%;
}

.side {
  color: white;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

.side .side-content {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

#left-side {
  z-index: 2;
  width: var(--left-side-width);
  transition: background-color 0.2s;
}

#left-side .side-title {
  transition: opacity 0.2s;
  opacity: var(--left-side-title-opacity);
}

#left-side .side-content {
  transition: opacity 0.2s;
  opacity: var(--left-side-content-opacity);
}

span.slider-grabber {
  position: absolute;
  top: 50%;
  left: var(--left-side-width);
  width: 56px;
  height: 56px;
  background: white;
  border-radius: 50%;
  cursor: ew-resize;
  z-index: 10;
  transform: translateX(-50%);
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slider-grabber-arrow-reverse {
  transform: rotate(180deg);
}

.slider-container {
  user-select: none;
  height: 100%;
}

#right-side {
  color: white;
  font: 1.3rem Inconsolata, monospace;
}
