:root {
  --retro-yellow: #e5912f;
  --retro-yellow-hover: #e89c45;
  --retro-yellow-darker: #dc7828;
  --retro-orange: #cf5c2a;
  /* --retro-orange: #e2b983; */
  --retro-red: #ce3d28;
  /* --retro-red: #d0614d; */
  --retro-sky: #81a098;
  --retro-tile: #2d7482;
  /* --retro-tile: #96ada3; */
  --retro-blue: #0b5776;
  /* --retro-blue: #3e485f; */

  --bar-width: 8px;

  --background-color: #2b2b2b;

  --content-width: 1300px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 2.75vw;
}

h3 {
  font-size: 1.75vw;
}

body {
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

div.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* background: linear-gradient(
    90deg,
    #2b2b2b 0%,
    #2b2b2b 2rem,
    var(--retro-yellow) 2rem,
    var(--retro-yellow) calc(2rem + 6px),
    var(--retro-yellow-darker) calc(2rem + 6px),
    var(--retro-yellow-darker) calc(2rem + 12px),
    var(--retro-orange) calc(2rem + 12px),
    var(--retro-orange) calc(2rem + 18px),
    var(--retro-red) calc(2rem + 18px),
    var(--retro-red) calc(2rem + 24px),
    var(--retro-sky) calc(2rem + 24px),
    var(--retro-sky) calc(2rem + 30px),
    var(--retro-tile) calc(2rem + 30px),
    var(--retro-tile) calc(2rem + 36px),
    var(--retro-blue) calc(2rem + 36px),
    var(--retro-blue) calc(2rem + 42px),
    #2b2b2b calc(2rem + 42px)
  ); */

  /* background: linear-gradient(
    90deg,
    #2b2b2b 0%,
    #2b2b2b 2rem,
    var(--retro-yellow) 2rem,
    var(--retro-yellow) calc(2rem + 10px),
    var(--retro-orange) calc(2rem + 10px),
    var(--retro-orange) calc(2rem + 20px),
    var(--retro-red) calc(2rem + 20px),
    var(--retro-red) calc(2rem + 30px),
    var(--retro-tile) calc(2rem + 30px),
    var(--retro-tile) calc(2rem + 40px),
    var(--retro-blue) calc(2rem + 40px),
    var(--retro-blue) calc(2rem + 50px),
    #2b2b2b calc(2rem + 50px)
  ); */
}

section {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 3rem;
  /* max-width: var(--content-width); */
  margin: 0 auto;
}
