@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

.terminal {
  width: 90%;
  max-width: 960px;
  height: 65vh;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
  font-family: Ubuntu;
  margin: 0 auto;
}

.terminal-title-bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: #273138;
}

.terminal-bar-button {
  margin-right: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #535356;
  transition: background-color 0.2s;
}

.terminal-body {
  background: #1e1f21;
  height: calc(100% - 30px);
}

.terminal-light {
  box-shadow: none;
}

.terminal-light .terminal-title-bar {
  background: #b4b4b4;
}

.terminal-light .terminal-bar-button {
  background: #f9f9f9;
}

.terminal-light .terminal-body {
  background: #f9f9f9;
}

.terminal-dark .terminal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 6px;
}

.terminal-dark .terminal-body * {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 2px;
  color: #aeb3bb;
  font-family: "Ubuntu Mono";
}

.terminal-dark .terminal-body .hidden {
  display: none;
}
